{% extends "root.j2" %}
{% block body %}
	<script type="module" src="/static/overview.js"></script>
	{% include "course_header.j2" %}
	<body class="course">
		<main>
			<section id="course_description">
				<h1 id="course_title"></h2>
				<p id="course_timestamp"></p>
				<div>
				</div>
			</section>
			<section class="module" id="lessons">
				<h2>Lessons</h2>
				<div>
					<p id="lessons_empty">empty</p>
					<div id="lesson_cards">
					</div>
					<form class="edit" id="add_lesson">
						<button type="submit">+</button>
						<input type="text" name="title" autocomplete="off" placeholder="Add Title...">
					</form>
				</div>
			</section>
		</main>
		<aside>
			<!-- <section class="module" id="goals">
				<h2>Goals</h2>
				<div>
					<p id="goals_empty">empty</p>
					<button id="add_goal">+</button>
				</div>
			</section> -->
			<section class="module" id="materials">
				<h2>Learning Materials</h2>
				<div>
					<p id="materials_empty">empty</p>
					<div id="material_cards"></div>
					<button class="edit" id="add_material">+</button>
				</div>
			</section>
		</aside>
		<button id="modify">Modify</button>
		<button id="done" class="edit">Done</button>
		<div class="aside edit">
			<button id="finish">Archive</button>
			<button id="delete">Delete</button>
		</div>
		<form class="pop_up" id="material_form" enctype="multipart/form-data" method="post">
			<label>Title</label>
			<input name="title" type="text" autocomplete="" required>
			<label>Author</label>
			<input name="author" type="text" autocomplete="" required>
			<label>ISBN</label>
			<input name="ISBN" type="text" autocomplete="" required>
			<label>Pages</label>
			<input name="pages" type="text" autocomplete="" required>
			<label>Textbook</label>
			<input name="textbook" type="file" autocomplete="off"> 
			<button id="add_textbook" type="submit">Add Textbook</button>
			<p class="success">Success!</p>
			<p class="failure">Error</p>
		</form>
		<form class="pop_up" id="material_section" enctype="multipart/form-data" method="post" data-id="">	
			<label>Textbook</label>
			<select id="material_select" name="textbook">
			</select>
			<label>Starting Page</label>
			<input type="number" name="start_page">
			<label>Ending Page</label>
			<input type="number" name="end_page">
			<button type="submit">Add</button>
		</form>
	</body>
{% endblock body %}
