<!DOCTYPE html>
<html lang="en">
	<head> 
		<script src="https://www.google.com/recaptcha/api.js"></script>
		<script src="/static/home.js" defer>
		 <script>
		   function onSubmit(token) {
		     document.getElementById("demo-form").submit();
		   }
		 </script>
	</head>
	<body>
		<form id="sign-up" class="sign-up">
			<div class="form-input">
				<label for="username"> Enter username: </label>
				<input type="text" name="username" id="username" required>
			</div>
			<div class="form-input">
				<label for="email"> Enter email (optional): </label>
				<input type="email" name="email" id="email">
			</div>
			<div class="form-input">
				<label for="password"> Enter password: </label>
				<input type="password" name="password" id="password">
				<div class="g-recaptcha" data-sitekey="6LfJeYIeAAAAADHppzNesu5NUIMWscKH0OEOXwan"></div>
				<input type="submit">
			</div>
		</form>
	</body>
</html>
