<!DOCTYPE html>
<html lang="en">
	<head> 
		<script src="https://www.google.com/recaptcha/api.js"></script>
	 <script>
	   function onSubmit(token) {
	     document.getElementById("demo-form").submit();
	   }
	 </script>
	</head>
	<body>
		<form class="sign-up">
			<div class="form-input">
				<label for="username"> Enter username: </label>
				<input type="text" name="username" id="username" required>
			</div>
			<div class="form-input">
				<label for="email"> Enter email (optional): </label>
				<input type="email" name="email" id="email">
			</div>
			<div class="form-input">
				<label for="password"> Enter password: </label>
				<input type="password" name="password" id="password">
			</div>
			<button class="g-recaptcha" 
        		data-sitekey="reCAPTCHA_site_key" 
			data-callback='onSubmit' 
			data-action='submit'>Submit</button>
		</form>
	</body>
</html>
