<!DOCTYPE html>
<html lang="en">
	<head> 
		<script src="/static/app.js" defer></script>
	</head>
	<body>
		<header>Course Overview</header>
		<nav></nav>
		<aside></aside>
		<main></main>
	</body>
</html>
