<!DOCTYPE html>
<html lang="en">
	<head> 
		<script src="https://www.google.com/recaptcha/api.js"></script>
		<script src="/static/session.js" defer>
		 <script>
		   function onSubmit(token) {
		     document.getElementById("demo-form").submit();
		   }
		 </script>
	</head>
	<body>
		<form id="session" class="session">
				<input type="submit">
		</form>
	</body>
</html>
