<header class="home">
	<a href="/"><img src="/static/logo.webp" alt="the monalect logo"></a>
	<nav>
		<ul>
			<li><a href="./overview">About</a></li>
			<li><a href="./notebook">Docs</a></li>
			<li><a href="./textbook">Contact</a></li>
			<li><a href="./questions">Contact</a></li>
			<li><a href="./test">Contact</a></li>
		</ul>
	</nav>
	<div>{{user}}</div>
</header>
