{% extends "root.j2" %}
{% block body %}
	<body class="home">
		<script src="https://www.google.com/recaptcha/api.js" defer></script>
		<header class="home">
			<a href="/"><img src="/static/logo.webp" alt="the monalect logo"></a>
			<nav>
				<ul>
					<li><a href="/about">About</a></li>
					<li><a href="/docs">Docs</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><button id="login_button">Log In</button></li>
				</ul>
			</nav>
		</header>
		<form id="login" class="login">
			<div class="form-input">
				<label for="username">Username</label>
				<input type="text" name="username" id="username" required>
			</div>
			<div class="form-input">
				<label for="password">Password</label>
				<input type="password" name="password" id="password" required>
			</div>
			<div id="login_captcha" class="g-recaptcha" data-sitekey="5LfJeYIeAAAAADHppzNesu5NUIMWscKH0OEOXwan"></div>
			<input type="submit">
		</form>
		<main class="home">
			<img src="/static/wizard.webp" alt="A wizard-looking man holding up a ball. It's from the cover of the textbook 'Structures and Interpretations of Computer Programs', a good read for the striving programmer.">
			<article>
				<div>
					<p>Tired of other people's courses?</p>
					<p>Create your own.</p>
				</div>
				<button id="create">Create</button>
				<div>
					<p>After you outline your course,</p>
					<p>we handle the rest.</p>
				</div>
				<p>All you have to do is study</p>
			</article>
		<form id="signup" class="signup">
			<div class="form-input">
				<label for="username">Username</label>
				<input type="text" name="username" id="username" required>
			</div>
			<div class="form-input">
				<label for="email">Email (optional)</label>
				<input type="email" name="email" id="email">
			</div>
			<div class="form-input">
				<label for="password">Password</label>
				<input type="password" name="password" id="password" required>
			</div>
			<div id="signup_captcha" class="g-recaptcha" data-sitekey="6LfJeYIeAAAAADHppzNesu5NUIMWscKH0OEOXwan"></div>
			<button type="submit">Sign up</button>
		</form>
		</main>
	</body>
	<script type="text/javascript" src="/static/home.js" async></script>
{% endblock body %}
