<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset = "UTF-8">
		<meta name="viewport" content="width=device-width, heigh=device-height, initial-scale=1">

		<title>Create and Study Free Online Courses for Yourself - Monalect</title>
		<meta name="description" content="The only tool autodidacts and self learners need to study, provided free. Create and manage your own courses quickly and easily with our app.">

		<link rel="icon" type="image/x-icon" href="/images/favicon.ico"> {# REMEMBER TO IMPLEMENT #}

		{# MICROSOFT TILES 
		<meta name="msapplication-square70x70logo" content="" >
		<meta name="msapplication-square150x150logo" content="" >
		<meta name="msapplication-wide310x150logo" content="" >
		<meta name="msapplication-square310x310logo" content="" > #}

		<link rel="canonical" href="https://www.monalect.com/">
		<link rel="stylesheet" href="/styles/">
	</head>
	<body>
	</body>
</html>
